<div class="container__big-card">
    <div class="big-card__image">
        <img src="../../../assets/img/placeholder.png" alt="">
    </div>

    
        <div class="big-card__title">
            <h1><a href="#" class="big-card__link">Saiu a nova versão do Angular</a></h1>
        </div>   


    <div class="big-card__description">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed laborum exercitationem sint dolor quam debitis veritatis ullam vitae reiciendis, est alias, quo similique consequuntur fugit. Aliquid quam accusamus odio maiores?</p>
    </div>
</div>