<header>
    <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="container__articles">
    <div class="articles__main">
        <app-big-card photoCover="../../../assets/img/placeholder.png" cardTitle="Novo homem de ferro" cardDescription="bla bla bla bla bla bla"></app-big-card>
    </div>
    
    <div class="articles__others">
        <app-small-card photoCover="../../../assets/img/placeholder.png" cardTittle="Aqui está o titulo"></app-small-card>
        <app-small-card photoCover="../../../assets/img/placeholder.png" cardTittle="Aqui está o titulo"></app-small-card>
        <app-small-card photoCover="../../../assets/img/placeholder.png" cardTittle="Aqui está o titulo"></app-small-card>
    </div>
</div>

